.docs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 2rem 0;
    border: solid 2px var(--color-primary);
    border-radius: 5px;
    min-width: 50rem;
    box-shadow: var(--shadow-diagonal);

    &__button {
        display: block;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
        text-decoration: none;
        color: var(--color-text-white);
        background: var(--color-secondary);
        border-radius: 5px;
        box-shadow: var(--shadow-diagonal);
    }

    &__divider {
        width: 100%;
        height: 2px;
        margin-bottom: 2rem;
        background: var(--color-primary);
    }

    &__command {
        text-align: center;
        font-size: 1.8rem;
        line-height: 2;
        color: var(--color-text);
    }
}