.app__header {
    font-size: 6rem;
    margin-bottom: 3rem;
    color: var(--color-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.app__paragraph {
    font-size: 2rem;
    color: var(--color-text);
}