.myDatePicker {
    padding: 1rem 2rem;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    font-size: 2rem;
}

.react-datepicker {
}

.react-datepicker__header {
}

.react-datepicker__month { 
}