.openButton {
    padding: 1rem 2rem;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text-white);
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
}

// moje style dla modala
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    transform: translate(-50%, -50%);
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(81, 157, 158, 0.1);
}
//------------------------------------------
// style dla animacji modala
// zeby aniamcja na znikanie dzialala trzeba dodac "closeTimeoutMS" jako prop w <Modal>
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{ opacity: 1; }

.ReactModal__Overlay--before-close{ opacity: 0; }
//-------------------------------------------------

.modal__header {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 3rem;
    color: var(--color-primary);
}

.modal__text {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}

.modal__closeButton {
    display: block;
    padding: 1rem 2rem;
    margin: 0 auto;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text-white);
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
}
