.reactClassname__text {
    display: block;
    padding: 1rem;
    margin-bottom: 4rem;
    border-radius: 5px;
    font-size: 3rem;
    border: 3px solid var(--color-primary);
}

.reactClassname__buttonsContainer { margin-bottom: 4rem; }

.reactClassname__buttonsContainer .button { margin-right: 2rem; }

.textColor { color: var(--color-text-white); }

.backgroundColor { background: var(--color-primary); }

.letterSpacing { letter-spacing: 2px; }