.tooltip__header {
    margin-bottom: 1rem;
} 

.tooltip__button {
    padding: 1rem 2rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--color-text-white);
    background: var(--color-primary);
    border: none;
    border-radius: 5px;
}

.tooltip__span {
    color: var(--color-primary);
}
