.icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.icons__section:first-child { margin-right: 5rem; }

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons__header {
    position: relative;
    display: block;
    margin-top: 4rem;
}

.icons__icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.reactIconClass {
    color: var(--color-secondary);
    font-size: 5rem;
    margin-top: 1rem;
}