.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icons__header {
    position: relative;
    display: block;
    margin-top: 4rem;
    margin-bottom: 4rem;
    color: var(--color-primary);
    font-size: 2rem;
    letter-spacing: 2px;

    &:after {
        position: absolute;
        bottom: -1rem;
        left: 50%;
        display: block;
        content: '';
        width: 120%;
        height: 2px;
        background: var(--color-primary);
        transform: translateX(-50%);
    }
}

.icons__icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: var(--color-primary);
}