:root {
  --color-primary: #519D9E;
  --color-secondary: #58C9B9;
  --color-tertiary: #9DC8C8;
  --color-accent: #D1B6E1;
  --color-text-white: #e2e2e2;
  --color-background: #eee;
  --color-text-black: rgb(36, 36, 36);
  --shadow-down: 0 4px 8px rgba(0, 0, 0, 0.35);
  --shadow-diagonal: 4px 4px 8px rgba(0, 0, 0, 0.35);
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-background);
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.header {
  margin-bottom: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary);
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--color-text-white);
  background: var(--color-primary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in;

  &:hover {
    box-shadow: var(--shadow-diagonal);
  }
}
